.container, .github-stats, .projects {
    padding: 1.2rem 3rem 3rem 3rem;
    max-width: 1100px;
    background: #0A0E12;
    color: #fff;
}

.separator {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    overflow: hidden;
    background: #0A0E12;
    border-bottom: 1px solid #21262d;
    height: .25rem;
    max-width: calc(1100px - 1rem);
    width: calc(100% - 1rem);
    padding: 0;
    margin: 24px 0;
    background-color: #30363d;
    border: 0;
}

@media (max-width: 550px) {
    .container {
        padding: .6rem 1.5rem 1.5rem 1.5rem;
    }
}

@media (max-width: 400px) {
    .container {
        padding: .3rem .75rem .75rem .75rem;
    }
}